@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply bg-transparent;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500 rounded-full;
}

@layer base {
  :root {
    --color-text-base: #000000; /* Jet Black */
    --color-primary: #2dc659; /* Grass Green */
    --color-secondary: #fd6234; /* Happy Red */
    --color-tertiary: #2c3551; /* Ink Spot */

    --color-text-dark: #ffffff; /* All Clear */
  }
}
